data
*.csv
.venv
.py_venv
__pycache__
.ruff_cache
models/
scripts/filter_tuned_params.sh
# backend/
temp/
*gitCLI.ipynb
gitCLI.ipynb
.ipynb_checkpoints
ed-analytics/
/ed-analytics
/models
/trained
/cross_valid
*gsheet
*.gsheet
*.xlsx
src/model_checkpoints/
